<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>fountain</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Fountain Screenplay</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.quote-unquote.fountain</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>highland</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Highland Document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.highland.highland</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>textbundle</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>TextBundle</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>org.textbundle.package</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.plain-text</string>
                <string>public.text</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Fountain Screenplay</string>
            <key>UTTypeIdentifier</key>
            <string>com.quote-unquote.fountain</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>fountain</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>text/fountain</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.composite-content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Highland Document</string>
            <key>UTTypeIdentifier</key>
            <string>com.highland.highland</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>highland</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.composite-content</string>
                <string>com.apple.package</string>
            </array>
            <key>UTTypeDescription</key>
            <string>TextBundle</string>
            <key>UTTypeIdentifier</key>
            <string>org.textbundle.package</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>textbundle</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
